@import 'config';

body {
    background: url(/img/dark-wall.jpg);
    background-repeat: repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-container h1 {
        font-size: 2rem;
        font-weight: 500;
        @include flux-text-animation;
        animation: flux-text 2s linear infinite;
        -moz-animation: flux-text 2s linear infinite;
        -webkit-animation: flux-text 2s linear infinite;
        margin-bottom: 0.5rem;
    }

    .image-wrapper {
        position: relative;
        background-color: #fff;
        height: 30rem;
        width: 22rem;
        @include red-shadow;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;

        .img-container {
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;

            img {
                object-fit: contain;
                z-index: 1;
            }
        }

        .text-container {
            position: absolute;
            height: 100%;
            width: 30rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url('/img/foiltext.png') no-repeat center center;
            background-size: 100%;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            transform: rotate(90deg);
            font-size: 1rem;

            h1 {
                padding-bottom: 1.25rem;
            }
        }
    }

    .input-container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 1rem;

        input {
            width: 50%;
            background: #fff;
            color: rgb(0, 0, 0);
            border: 0;
            outline: 0;
            padding: 1rem 0.5rem;
            @include flux-box-animation;
            animation: flux-box 2s linear infinite;
            -moz-animation: flux-box 2s linear infinite;
            -webkit-animation: flux-box 2s linear infinite;
        }

        button {
            padding: 0.5rem 0.5rem;
            border: 0;
            font-size: 1rem;
            font-weight: 500;
            background-color: #0084ff;
            color: #fff;

            &:hover {
                @include transition-ease;
                @include blue-shadow;
                cursor: pointer;
            }
        }
    }
}